<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление книг</title>
</head>
<body>

<form method="POST" th:action="@{/books}" th:object="${book}">

    <div style="color:red"  th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Book error</div>
    <label for="title">Введите название книги:</label>
    <input type="text" th:field="*{title}" id="title"/>
    <br>

    <div style="color:red"  th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author error</div>
    <label for="author">Введите Автора:</label>
    <input type="text" th:field="*{author}" id="author"/>
    <br>

    <div style="color:red"  th:if="${#fields.hasErrors('year')}" th:errors="*{year}">year error</div>
    <label for="year">Введите год:</label>
    <input type="text" th:field="*{year}" id="year"/>
    <br>

    <input type="submit" value="Создать!"/>
</form>

</body>
</html>